<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sprint.nangpa.mapper.BoardMapper">

    <!-- 게시글 저장 -->
    <insert id="insertBoard" parameterType="com.sprint.nangpa.dto.board.BoardRegDTO" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT
          INTO BOARD
               ( RECIPE_ID
               , EMAIL
               , CONTENT
               )
        VALUES ( #{recipeId}
               , #{email}
               , #{content}
               )
    ]]>
    </insert>

    <!-- 게시글 이미지 저장 -->
    <insert id="insertMoardImg" parameterType="com.sprint.nangpa.model.BoardImg">
    <![CDATA[
        INSERT
          INTO BOARD_IMG
               ( BOARD_ID
               , SORT_NO
               , IMG
               )
        VALUES ( #{boardId}
               , #{sortNo}
               , #{img}
               )
    ]]>
    </insert>

    <!-- 게시글 목록 조회 -->
    <select id="selectBoardInfoList" parameterType="String" resultType="com.sprint.nangpa.dto.board.BoardInfoDTO">
    <![CDATA[
        SELECT A.ID
             , A.EMAIL
             , A.RECIPE_ID
             , A.CONTENT
             , B.NICKNAME
             , B.IMG_URL
             , (SELECT COUNT(*)
                  FROM BOARD_LIKE C
                 WHERE A.ID = C.BOARD_ID
               ) AS LIKES

    ]]>
             <choose>
                 <when test="email != '' and email != null">
                 <![CDATA[
                     , IFNULL((SELECT 1
                                 FROM BOARD_LIKE C
                                WHERE A.ID = C.BOARD_ID
                                  AND C.EMAIL = #{email}
                               )
                             , 0
                       )
                 ]]>
                 </when>
                 <otherwise>
                 <![CDATA[
                     , 0
                 ]]>
                 </otherwise>
             </choose>
    <![CDATA[
               AS LIKE_YN
          FROM BOARD A  INNER JOIN USER B   ON A.EMAIL = B.EMAIL
        ORDER BY
            A.ID DESC
    ]]>
    </select>

    <!-- 게시글 이미지 조회 -->
    <select id="selectBoardImg" parameterType="Long" resultType="String">
    <![CDATA[
        SELECT IMG
          FROM BOARD_IMG
         WHERE BOARD_ID = #{boardId}
        ORDER BY
            SORT_NO
    ]]>
    </select>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.sprint.nangpa.dto.board.BoardModDTO">
    <![CDATA[
        UPDATE BOARD
           SET CONTENT       = #{content}
             , MODIFIED_DATE = NOW()
         WHERE ID            = #{id}
           AND EMAIL         = #{email}
    ]]>
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="com.sprint.nangpa.dto.board.BoardDelDTO">
    <![CDATA[
        DELETE
          FROM BOARD
         WHERE ID    = #{id}
           AND email = #{email}
    ]]>
    </delete>

    <!-- 게시글 좋아요 여부 조회 -->
    <select id="selectBoardLike" parameterType="com.sprint.nangpa.dto.board.BoardLikeDTO" resultType="int">
    <![CDATA[
        SELECT COUNT(*)
          FROM BOARD_LIKE
         WHERE BOARD_ID = #{boardId}
           AND EMAIL    = #{email}
    ]]>
    </select>

    <!-- 게시글 좋아요 수 조회 -->
    <select id="selectBoardLikeCnt" parameterType="long" resultType="int">
    <![CDATA[
        SELECT COUNT(*)
          FROM BOARD_LIKE
         WHERE BOARD_ID = #{boardId}
    ]]>
    </select>

    <!-- 게시글 좋아요 추가 -->
    <insert id="insertBoardLike" parameterType="com.sprint.nangpa.dto.board.BoardLikeDTO">
    <![CDATA[
        INSERT
          INTO BOARD_LIKE
               ( EMAIL
               , BOARD_ID
               , CREATE_DATE
               )
        VALUES ( #{email}
               , #{boardId}
               , NOW()
               )
    ]]>
    </insert>

    <!-- 게시글 좋아요 삭제 -->
    <delete id="deleteBoardLike" parameterType="com.sprint.nangpa.dto.board.BoardLikeDTO">
    <![CDATA[
        DELETE
          FROM BOARD_LIKE
         WHERE EMAIL    = #{email}
           AND BOARD_ID = #{boardId}
    ]]>
    </delete>
</mapper>