<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sprint.nangpa.mapper.RecipeMapper">

    <!-- 재료명, row 번호 조회(재료명 중복 제거) -->
    <select id="selectDistinctRecipeIrdntList" resultType="com.sprint.nangpa.dto.IrdntNmDTO">
    <![CDATA[
        WITH CTE AS (
            SELECT DISTINCT (IRDNT_NM)
              FROM RECIPE_IRDNT
        )
        select DISTINCT (IRDNT_NM)                  -- 재료명
             , @rowNum:=@rowNum+1           AS ID   -- 행 번호
          FROM CTE
             , (SELECT @rownum:=0) TMP
    ]]>
    </select>

    <!-- 재료 목록에 속한 레시피 목록 조회 -->
    <select id="selectRecipeListContainIrdntNm" parameterType="com.sprint.nangpa.dto.RecipeSerByIrdntNmDTO" resultType="com.sprint.nangpa.model.RecipeInfo">
    <![CDATA[
        SELECT RECIPE_ID            -- 레시피 코드
             , RECIPE_NM_KO         -- 레시피 이름(한글)
             , SUMMARY              -- 간략(요약) 소개
             , NATION_CD            -- 유형코드
             , NATION_NM            -- 유형분류
             , TYPE_CD              -- 음식분류코드
             , TYPE_NM              -- 음식분류
             , COOKING_TIME         -- 조리시간
             , CALORIE              -- 칼로리
             , QNT                  -- 분량
             , LEVEL_NM             -- 난이도
             , IRDNT_CD             -- 재료별 분류명
             , PC_NM                -- 가격별 분류
             , LIKE_CNT             -- 좋아요 수
             , IMG_URL              -- 음식 사진 url
          FROM RECIPE_INFO
         WHERE RECIPE_ID IN (   SELECT DISTINCT(RECIPE_ID)
                                  FROM RECIPE_IRDNT
    ]]>
                             <if test="!irdntNms.isEmpty()">
                             <![CDATA[
                                 WHERE IRDNT_NM IN
                             ]]>
                                    <foreach collection="irdntNms" item="irdntNm" index="index" open="(" separator="," close=")">
                                    <![CDATA[
                                        #{irdntNm}
                                    ]]>
                                    </foreach>
                             </if>
    <![CDATA[
                            )
        ORDER BY
            LIKE_CNT
          , RECIPE_NM_KO
    ]]>
    </select>

    <!-- 레시피 코드를 통한 레시피 기본정보 조회 -->
    <select id="selectRecipeInfoByRecipeId" parameterType="String" resultType="com.sprint.nangpa.model.RecipeInfo">
    <![CDATA[
        SELECT RECIPE_ID            -- 레시피 코드
             , RECIPE_NM_KO         -- 레시피 이름(한글)
             , SUMMARY              -- 간략(요약) 소개
             , NATION_CD            -- 유형코드
             , NATION_NM            -- 유형분류
             , TYPE_CD              -- 음식분류코드
             , TYPE_NM              -- 음식분류
             , COOKING_TIME         -- 조리시간
             , CALORIE              -- 칼로리
             , QNT                  -- 분량
             , LEVEL_NM             -- 난이도
             , IRDNT_CD             -- 재료별 분류명
             , PC_NM                -- 가격별 분류
             , LIKE_CNT             -- 좋아요 수
             , IMG_URL              -- 음식 사진 url
          FROM RECIPE_INFO
         WHERE RECIPE_ID = #{recipeId}
    ]]>
    </select>

    <!-- 레시피 코드를 통한 레시피 과정정보 조회 -->
    <select id="selectRecipeCrseByRecipeId" parameterType="String" resultType="com.sprint.nangpa.model.RecipeCrse">
    <![CDATA[
        SELECT RECIPE_ID            -- 레시피 코드
             , COOKING_NO           -- 요리설명순서
             , COOKING_DC           -- 요리설명
             , STEP_TIP             -- 과정팁
             , STRE_STEP_IMG_URL    -- 과정 이미지 URL
          FROM RECIPE_CRSE
         WHERE RECIPE_ID = #{recipeId}
    ]]>
    </select>

    <!-- 레시피 코드를 통한 레시피 재료정보 조회 -->
    <select id="selectRecipeIrdntByRecipeId" parameterType="String" resultType="com.sprint.nangpa.model.RecipeIrdnt">
    <![CDATA[
        SELECT RECIPE_ID            -- 레시피 코드
             , IRDNT_SN             -- 재료순번
             , IRDNT_NM             -- 재료명
             , IRDNT_CPCTY          -- 재료용량
             , IRDNT_TYPE_CD        -- 재료타입 코드
             , IRDNT_TYPE_NM        -- 재료타입명
          FROM RECIPE_IRDNT
         WHERE RECIPE_ID = #{recipeId}
        ]]>
    </select>

    <!-- 레시피 코드목록에 포함된 레시피 기본정보 조회 -->
    <select id="selectRecipeListContainRecipeId" parameterType="Long" resultType="com.sprint.nangpa.dto.CurRecipeDTO">
    <![CDATA[
        SELECT RECIPE_ID
             , IMG_URL
          FROM RECIPE_INFO
         WHERE RECIPE_ID IN (
    ]]>
        <choose>
            <when test="recipeIds.isEmpty()">
            <![CDATA[
                ''
            ]]>
            </when>
            <otherwise>
                <foreach collection="recipeIds" item="recipeId" index="index" open="(" separator="," close=")">
                <![CDATA[
                    #{recipeId}
                ]]>
                </foreach>
            </otherwise>
        </choose>
    <![CDATA[
        )
    ]]>
    </select>
</mapper>